.divForm {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(#000000, 0.2);
  padding: var(--padding-8);

  p,
  h3 {
    text-align: center;
  }
}

.divForm form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--padding-4);
  gap: var(--padding-4);
}

.divForm .btnSubmit {
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: var(--padding-4);
  margin-top: var(--padding-4);
}

.divForm button:hover {
  transform: scale(1.01);
}

.divForm button:disabled {
  transform: scale(1);
}

.textSignUp {
  text-align: center;

  a {
    color: var(--primary-color);
    text-decoration: underline;
  }
}
