@import "@/styles/variables.scss";

.card {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  outline: var(--primary-color) 2px;
  width: 100%;
  grid-column: span 3;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(#000000, 0.3);
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  animation: fadeInCakeCardModule 0.5s;

  a {
    text-decoration: none;
  }

  &:hover .divImg {
    transform: scale(1.01);
  }
}

.divImg {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--gray-1);
}

.imgSkeleton {
  width: 100%;
  height: 100%;
}

.divText {
  display: flex;
  justify-content: space-between;
  gap: var(--padding-2);
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: var(--padding-4) var(--padding-2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  .divTypeCake {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    p {
      white-space: wrap;
      line-height: 1.375rem;
      max-height: 4.125rem;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .price {
    color: var(--secondary-color);
  }

  .nameCakeSkeleton {
    border-radius: 2px;
    height: 1.25rem;
    width: 80%;
  }

  .priceSkeleton {
    border-radius: 2px;
    height: 1.5rem;
    width: 50%;
  }
}

.info {
  cursor: default;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: var(--padding-4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--padding-4);

  animation: infoOpen ease 0.2s;
  transition: all ease 0.2s;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: var(--primary-color-transp);

  h4 {
    color: #fff;
    white-space: wrap;
    line-height: 1.5rem;
    max-height: 4.5rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .btnCart {
    width: 4rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 99px;
    border: none;
    background-color: #fff;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.infoClosed {
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  background-color: transparent;
  top: 100%;
}

@keyframes infoOpen {
  0% {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    background-color: transparent;
    top: 100%;
  }
  100% {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: var(--primary-color-transp);
    top: 0;
  }
}

@keyframes fadeInCakeCardModule {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: $lg) {
  .card {
    grid-column: span 4;
  }
}

@media (max-width: $md) {
  .card {
    grid-column: span 6;
  }

  .info h4 {
    font-size: 1rem;
    line-height: 1.375rem;
    max-height: 4.125rem;
  }
}
