@import "../../styles/variables.scss";

.divUser {
  display: flex;
  align-items: center;
  gap: var(--padding-1);

  button {
    border: none;
  }
}

.divUser .iconSkeleton {
  border-radius: 500px;
  width: 2rem;
  height: 2rem;
}

.btnLogin {
  background-color: none;

  &:hover {
    background-color: var(--gray-2);
  }
}

.btnSignup {
  background-color: var(--secondary-color);
  color: white;

  &:hover {
    background-color: var(--secondary-color-hover);
  }
}

@media (max-width: $md) {
  .btnSignup {
    display: none;
  }

  .btnLogin {
    background-color: var(--secondary-color);
    color: white;
  }

  .btnLogin:hover {
    background-color: var(--secondary-color-hover);
  }
}
