@import "@/styles/variables.scss";

.orderCard {
  box-shadow: 0 0 10px 0 rgba(#000000, 0.3);
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 0.5s;
}

.orderCard header {
  width: 100%;
  border-bottom: solid 2px var(--gray-1);
  padding: var(--padding-2) var(--padding-4);
  text-align: center;
  display: flex;
  justify-content: space-between;

  p span {
    color: var(--color-text-title);
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: var(--padding-4);
  gap: var(--padding-2);
}

.orderInfo {
  display: flex;
  gap: var(--padding-4);
  flex-wrap: wrap;
}

.infoCol {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.text {
  text-wrap: nowrap;
  color: var(--color-text-title);

  span {
    color: var(--color-text-paragraph);
  }
}

.textLoading {
  user-select: none;
  overflow: hidden;
  filter: blur(3px);
}

.actionButtons {
  display: flex;
  gap: var(--padding-2);
  width: 100%;

  button {
    border: none;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 5px;

    &:hover {
      background-color: var(--secondary-color-hover);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// @media (max-width: $sm) {
//   .orderInfo {
//     flex-direction: column;
//     gap: var(--padding-2);
//   }
// }
