@import "@/styles/variables.scss";

.mainSection {
  display: flex;
  justify-content: center;
  padding: var(--padding-4) 0;
  flex: 1;
}

.wrapper {
  width: calc(100% - (var(--padding-4) * 2));
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--padding-4);
}

.parentPage {
  width: 100%;
}

.errorDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-2);

  h5 {
    color: var(--color-text-paragraph);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--padding-4);
  padding-top: var(--padding-4);
}

.cakePartsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--padding-4);
  padding-top: var(--padding-4);
}

@media (max-width: $sm) {
  .cakePartsList {
    grid-template-columns: 1fr;
  }
}
