.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4) 0;
  gap: var(--padding-4);
}

.menuCakes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuCakes .wrapper h5 {
  text-align: center;
  grid-column: span 12;
  height: 100%;
}

.divLoader {
  grid-column: span 12;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
