.divSearch {
  width: 100%;
  position: relative;
}

.divSearch input {
  width: 100%;

  padding: var(--padding-2) var(--padding-4);
  padding-right: calc(var(--padding-4) + 1.5rem);
  width: 100%;
  border: none;
  transition: 0s;
  border-radius: 5px;
  background-color: var(--gray-1);
  color: var(--color-text-title);

  &:focus {
    outline: var(--primary-color) solid 2px;
  }
}

.searchIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: var(--padding-2);
  margin-right: var(--padding-4);
}
