@import "@/styles/variables.scss";

.filtersBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.divSearchAndSortBy {
  width: 100%;
  padding-left: var(--padding-16);
  padding-bottom: var(--padding-2);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--padding-4);
}

.divSearch {
  width: 20%;
}

.divSortBy {
  min-width: 20%;
}

.divSelectLoading {
  width: 20%;
  color: var(--color-text-title);
  font-size: 0.875rem;
  font-weight: 700;
}

.selectLoading {
  display: block;
  width: 100%;
  padding: var(--padding-2) var(--padding-4);
  border-radius: 5px;
  color: transparent;
  user-select: none;
}

@media (max-width: $lg) {
  .divSearch,
  .divSelectLoading {
    width: calc(40% + var(--padding-4));
  }

  .divSortBy {
    min-width: calc(40% + var(--padding-4));
  }
}

@media (max-width: $md) {
  .divSearchAndSortBy {
    padding: 0;
    padding-bottom: var(--padding-2);
  }

  .divSearch,
  .divSelectLoading {
    width: 50%;
  }

  .divSortBy {
    min-width: 50%;
  }
}
