@import "../../styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--padding-4) 0;
  background-color: transparent;
  transition: all 0.3s;
  z-index: 1;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.noTopScreen {
  padding: var(--padding-2) 0;
  box-shadow: 0 0 10px 0 rgba(#000000, 0.1);
  background-color: rgba(#fff, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--padding-4);
}

.divLogo {
  min-width: 60px;
  display: flex;
  align-items: center;

  img {
    max-width: 100%;
  }
}

.header .navbar {
  display: flex;
  align-items: center;
  flex-grow: 1;

  ul {
    display: flex;
    align-items: center;
    gap: var(--padding-4);
    list-style: none;

    li {
      cursor: pointer;
      transition: all 0.5s;
      color: var(--color-text-title);

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.btnHamburguer {
  padding: var(--padding-1);
  border-radius: 500px;
  aspect-ratio: 1 / 1;
  background-color: var(--primary-color);
  display: none;
  border: none;
}

@media (max-width: $sm) {
  .wrapper {
    justify-content: space-between;
  }

  .btnHamburguer {
    display: inline-block;
  }

  .header .navbar {
    display: none;
  }
}
