.form {
  z-index: 1;
  padding: 5px; //sรณ por que o overflow: scroll do modal deixa bugado e esconde o outline e o box shadow dos inputs e selects
  display: flex;
  flex-direction: column;
  gap: var(--padding-2);

  h4 {
    text-align: center;
  }
}

.submitBtn {
  width: 100%;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s;

  &:hover {
    background-color: var(--secondary-color-hover);
  }
}
