.searchAndCreateBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--padding-4);
}

.searchAndCreateBar button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  display: flex;
  gap: var(--padding-2);

  &:hover {
    background-color: var(--secondary-color-hover);
  }
}

.selectLoading {
  padding: var(--padding-2) var(--padding-4);
  border-radius: 10px;
  width: 100%;
}
